# Variable Assignment

In [115]:
# assign to (=)
a = 105

In [117]:
b = a

In [121]:
a = 10

In [127]:
kela = 10

In [129]:
# case sensitive
# y and Y are different
Hasdnfjjsadklifnsdfjaksdnafjkaslfnsdajk = 1

In [130]:
Hasdnfjjsadklifnsdfjaksdnafjkaslfnsdajk

1

# Types of Variables

In [131]:
# String
# '' & ""
x = '123 asdf asdfasdc  csadcasd asdfsad  freok  sdkfosd   dskfosd  sdfkdsofk'

In [134]:
x = "And then he said, 'Why are you doing this?'"

In [135]:
x

"And then he said, 'Why are you doing this?'"

In [139]:
# Variable Type
type(x)

str

In [141]:
# Integer
# ...-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7...
x = -1

In [142]:
# Type Check
type(x)

int

In [170]:
# Float
x = 112312312312.1

In [171]:
x

112312312312.1

In [172]:
# Type Check
type(x)

float

In [173]:
# Boolean Logical
# True & False
x = True

In [174]:
x

True

In [175]:
# Type Check
type(x)

bool

# Playing with Variables

In [189]:
# Define two numbers
a = 3
b = 2

In [190]:
# Do Arithmetic
a + b

5

In [191]:
a - b

1

In [192]:
a * b

6

In [193]:
a / b

1.5

In [200]:
a ** b

9

In [208]:
# BODMAS : Bracket of Division, Multiplication, Addition, Subtraction
10+2-4*3

0

In [217]:
x = 100
y = 333
z = 0.01

In [250]:
# Printing Things
print('Hello World!')

Hello World!

In [271]:
# String Arithmetic
x = 'Hello'
y = 'World!'

In [273]:
# Output
print(x + ' ' + y)

Hello World!

In [ ]:
# Boolean Operators
# == 
# != 
# <
# >
# <=
# >=
# and
# or
# not

In [300]:
# Boolean Operator Demo
1 == 2 and 2 == 2

# AND Operator
# = True if Both equal to True
# = False if either of them is False

False

In [302]:
# OR Operator
# = True if any of them is True
# = False if both of them are False

1 == 2 or 5 == 2

False

In [306]:
not (1 == 2 or 5 == 2)

True

_________

# Exercise...

### Type the following in Python and evaluate results

* Is 1 greater than 5 minus 5?
* Is 5 greater than or equal to 2 to the power 2?
* Is 10 greater than 5 AND 2 greater than or equal to 3?
* Is cube root of 27 greater than 6 divided by 2 OR is 5 NOT greater than 5?

# Converting Variables

In [326]:
x = 10

In [327]:
type(x)

int

In [341]:
int('90')

90

# Loops

**Note:** Indentation!

In [ ]:
# WHILE Loop
# Does something while the condition evaluates to True

while CONDITION==TRUE:
    Do THIS


x = 20
y = 10

while x > y:
    print(x)
    y = y+1
    

abc = 9

while abc == 10:
    abc = abc + 1

counter = 1

while counter < 10:
    counter = counter*2
    print('Hello Guys!')
    print('Vivek Oberoi is FAIL person LOL')


# FOR Loop
# Does something while iterator iterates over the given range

for ITERATOR in RANGE:
    do something
    
    
for x in range(10):
    print(x)

for y in [1, 2, 'hello', 'hi', 'chao', 'nihao']:
    print(y)

In [378]:
abc = 10

while abc == 10:
    abc = abc + 1

In [381]:
x = 5

for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [359]:
# While Loop
# Keep doing something WHILE something is True

#x = 15
#y = 10

#while (x > y):
 #   print(x)
#    x = x-1

# while False

while False:
    print('Hello')

# while True - Infinite Loop

x = 15
y = 8

while (x > y) and (x >= 10):
    print(x, y)
    x = x - 1

15 8
14 8
13 8
12 8
11 8
10 8

In [360]:
# Counter demo

counter = 0

while counter < 10:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [371]:
# For Loop

for x in ['a', 'b', 123, 45, 6]:
    print(x)

a
b
123
45
6

In [ ]:
# For Loop Syntax 

for ITERATOR in RANGE:
    do something

__________

# Exercise...

* Create a while loop that has a for loop inside
* The for loop prints x+y for x in range y
* While loop runs till y < 20 and adds 1 to y in each iteration
* y starts at value 10

In [393]:
y = 10

# WHILE LOOP RUNNING...
while y < 20:
    
    print('y = ', y)

    # FOR LOOP RUNNING INSIDE WHILE LOOP...
    for x in range(y):
        print(x + y)
    
    print('------')
    
    # Add 1 to y in each while loop iteration
    y = y+1

y =  10
10
11
12
13
14
15
16
17
18
19
------
y =  11
11
12
13
14
15
16
17
18
19
20
21
------
y =  12
12
13
14
15
16
17
18
19
20
21
22
23
------
y =  13
13
14
15
16
17
18
19
20
21
22
23
24
25
------
y =  14
14
15
16
17
18
19
20
21
22
23
24
25
26
27
------
y =  15
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
------
y =  16
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
------
y =  17
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
------
y =  18
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
------
y =  19
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
------

In [374]:
# Loops Exercise

y = 10

# while loop which checks if y < 20...
while y < 20:
    # for x in range of size y, print x+y
    for x in range(y):
        print(x + y)
    # add 1 to y
    y = y+1

10
11
12
13
14
15
16
17
18
19
11
12
13
14
15
16
17
18
19
20
21
12
13
14
15
16
17
18
19
20
21
22
23
13
14
15
16
17
18
19
20
21
22
23
24
25
14
15
16
17
18
19
20
21
22
23
24
25
26
27
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

# If, Elif, Else

In [ ]:
# Demonstration

# If
if SOME CONDITION == TRUE:
    DO SOMETHING

# Else If
else if SOME CONDITION == TRUE:
    DO SOMETHING DIFFERENT

else if SOME CONDITION == TRUE:
    JAI BHOLEYNATH

    
else if SOME CONDITION == TRUE;
    JAI MATA DI

# Else
else: 
    DO SOMETHING COMPLETELY DIFFERENT

In [391]:
a = 1

if a > 0:
    print('a is positive number')
elif a < 0:
    print('a is negative number')
elif a > 0:
    print('BOOM!')
else:
    print('a is zero')

a is positive number
BOOM!

# Exercise


* User gives two numbers
* Check if they are integer or float
* If yes:
    * Ask for mathematical operation (add, subtract, multiply, divide)
    * Do operation and print output
* If no:
    * Print "Number Daaliye Please Ye Cheating Hai"
* **Keep running this program till user enters "ab rok bhi do bhai"**

In [405]:
x = 'a'

try:
    float(x)
except:
    print('Dhoka')

Dhoka

In [406]:
# Start infinite loop...
while True:
    
    # Take first input from user...
    x = input('Input the first number: ')
    
    # Check break condition
    if x == 'ab rok bhi do bhai': break

    print()
    
    # Take second input from user...
    y = input('Input the second number: ')
    
    # Check break condition
    if y == 'ab rok bhi do bhai': break
    
    print()
    
    # Take operation from user
    op = input('What do you want to do? ( plus / minus / multiply / divide)')
    
    # Try to convert input to floats
    try:
        x = float(x)
        y = float(y)
    # If float conversion doesn't work...
    except:
        # Print this message and start loop from beginning
        print('Number Daaliye Please Ye Cheating Hai')
        continue
    
    print()
    
    # Check operation and print output accordingly...
    if op == 'plus': print(x+y)
    elif op == 'minus': print(x-y)
    elif op == 'multiply': print(x*y)
    elif op == 'divide': print(x/y)
        
    print()

Input the first number: 1

Input the second number: 2

What do you want to do? ( plus / minus / multiply / divide)plus

3.0

Input the first number: ab rok bhi do

Input the second number: 1

What do you want to do? ( plus / minus / multiply / divide)plus
Number Daaliye Please Ye Cheating Hai
Input the first number: ab rok bhi do bhai

# List

In [415]:
# Create list...
x = [1, 2, 3, 4, 5]
y = ['abc', 1, 6.0, 'hello', 'oxzxcasca', True, False, [1, 2, x]]

# Indexing from 0...

In [418]:
x = ['a', 'b', 'c', 'd', 'e']

In [431]:
x[2]

'c'

In [435]:
# Slicing Lists
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [442]:
x[5:9]

[5, 6, 7, 8]

In [451]:
# List Arithmetic
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Functions & Libraries

In [457]:
# A FUNCTION takes some input and gives some output.

# Rounding Function
round()

2

In [462]:
# Shift + Tab for Info.
sum([1, 2, 3, 4, 5])

15

In [ ]:
# DEFINE FUNCTION_NAME(arg1, arg2, arg3=defaultvalue):
def functionname(arg1, arg2...):
    # DO SOMETHING
    do something
    # PRINT...
    print()

# Exercise

* Create function **my_sum()** that does same thing as function sum
* Take list of numbers as input
* Use for loop to do sum of all the inputs
* Print total

In [473]:
# Create function
# my_sum (does same thing as sum)

def my_sum(ListOfNumbers):
    
    total = 0
    
    for number in ListOfNumbers:
        total = total + number
        
    return total

In [477]:
my_total = my_sum([2, 2, 10])

In [478]:
my_total

14

In [14]:
# Call my_sum

In [479]:
# Importing Libraries
# math
import math

In [481]:
# square root
math.sqrt(100)

10.0

# Arrays

In [482]:
# Get numpy
import numpy as np

In [485]:
# List Arithmetic - FAIL
x = [1, 2, 3, 4]
y = [1, 1, 1, 1]

In [486]:
# Addition Ouput with Lists
x + y

[1, 2, 3, 4, 1, 1, 1, 1]

In [487]:
# Array Arithmetic - AWESOME
x = np.array([1, 2, 3, 4])
y = np.array([1, 1, 1, 1])

In [489]:
# Addition Ouput with Arrays
x + y

array([2, 3, 4, 5])

In [496]:
# Data Analysis with Numpy
# Mean, Std, Median
print(x.mean())
print(x.std())

2.5
1.118033988749895

In [500]:
x

array([1, 2, 3, 4])

In [498]:
x.mean() + x.std()*2

4.73606797749979

In [499]:
x.mean() - x.std()*2

0.2639320225002102

____________

# Email: vihan13singh@gmail.com

# Company Website: www.blackrose.tech/

# Company Email: contact@blackrose.tech

# Phone No. : +91-9810171088

# Twitter: @vihan13singh

# Github: www.github.com/vihan13singh